<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style_res/24reset.css">
    <link rel="stylesheet" href="../../style_res/style.css">
    <script src="../../style_res/script.js"></script>
    <title>TOP</title>
</head>
<body>
    <header>
        <ul class="header_genre_left">
            <li>ジャンル01</li>
            <li>ジャンル02</li>
            <li>ジャンル03</li>
            <li>ジャンル04</li>
            <li>ジャンル05</li>
            <li>ジャンル06</li>
            <li>ジャンル07</li>
            <li>ジャンル08</li>
            <li>ジャンル09</li>
            <li>ジャンル10</li>
        </ul>
        <div class="header_top"></div>
            <img src="../../img/logo.png" alt="ロゴ">
            <img src="../../img/カレンダー/Sunny.png" alt="天気">
        </div>
        <nav class="header_bottom">
            <ul class="header_bottom_list">
                <li><p><a href="#">マナー</a></p></li>
                <li><p><a href="#">健康</a></p></li>
                <li><p><a href="#">筋トレ</a></p></li>
                <li><p><a href="#">モテ活</a></p></li>
                <li><p><a href="#">ダイエット</a></p></li>
            </ul>
            <p class="border_line" id="border_line"></p>
        </nav>
    </header>
    <main>
        <p class="main_line"></p>
        <div class="main_box">
            <ul>
                <li><h2>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</h2></li>
                <li><img src="../../img/sample.jpeg" alt="ニュース画像"></li>
            </ul>
        </div>
        <p class="main_line"></p>
        <div class="main_box">
            <ul>
                <li><h2>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</h2></li>
                <li><img src="../../img/sample.jpeg" alt="ニュース画像"></li>
            </ul>
        </div>
        <p class="main_line"></p>
        <div class="main_box">
            <ul>
                <li><h2>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</h2></li>
                <li><img src="../../img/sample.jpeg" alt="ニュース画像"></li>
            </ul>
        </div>
        <p class="main_line"></p>
        <div class="main_box">
            <ul>
                <li><h2>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</h2></li>
                <li><img src="../../img/sample.jpeg" alt="ニュース画像"></li>
            </ul>
        </div>
        <p class="main_line"></p>
        <div class="main_box">
            <ul>
                <li><h2>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</h2></li>
                <li><img src="../../img/sample.jpeg" alt="ニュース画像"></li>
            </ul>
        </div>
        <p class="main_line"></p>
        <div class="main_box">
            <ul>
                <li><h2>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</h2></li>
                <li><img src="../../img/sample.jpeg" alt="ニュース画像"></li>
            </ul>
        </div>
    </main>
    <footer>
        <ul class="footer_list">
            <li><img src="../../img/home.png" alt="ホーム"></li>
            <li><p class="footer_line"></p></li>
            <li><img src="../../img/ToDo.png" alt="ToDo"></li>
            <li><p class="footer_line"></p></li>
            <li><img src="../../img/setting.png" alt="設定"></li>
        </ul>
    </footer>
</body>
</html>