<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/24reset.css">
    <link rel="stylesheet" href="../../style/style.css">
    <title>ログイン</title>
</head>
<body>
    <header>
        <img class="registration_logo" src="../../img/logo.png" alt="ロゴ">
    </header>
    <main class="login_main">
        <h1>ログイン</h1>
        <div class="login_form">
            <ul class="login_form_ul">
                <li>
                    <h2>メールアドレス</h2>
                    <input type="text" placeholder="example@gmail.com">
                </li>
                <li>
                    <h2>パスワード</h2>
                    <input type="text" placeholder="********">
                </li>
            </ul>
        </div>
        <button class="login_button">ログイン</button>
    </main>    
</body>
</html>