<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/24reset.css">
    <link rel="stylesheet" href="../../style/style.css">
    <title>ジャンル</title>
</head>
<body>
    <header>
        <img class="registration_logo" src="../../img/logo.png" alt="ロゴ">
    </header>
    <main>
        <div>
            <h1 class="genre_title">あなたの好きなジャンルを選んでください</h1>
        </div>
        <div class="genre_list">
            <div class="fitness_list before_click">
                <ul>
                    <li>フィットネス＆運動</li>
                    <li><p class="plus_icon"></p></li>
                </ul>
            </div>
            <div class="fitness_after after_click">
                <ul>
                    <li>
                        <div class="fitness_after_list genre_active">
                            <p>フィットネス＆運動</p>
                            <p class="minus_icon"></p>
                        </div>
                    </li>
                    <li>筋トレ（初心者向けよう）</li>
                    <li>ヨガ＆ピラティス（柔軟性向上）</li>
                    <li>有酸素運動（ランニング）</li>
                    <li> HIT（インターバル）</li>
                    <li>ストレッチ＆姿勢改善</li>
                </ul>
            </div>
            <div class="nutrition_list before_click">
                <ul>
                    <li>食事&栄養</li>
                    <li><p class="plus_icon"></p></li>
                </ul>
            </div>
            <div class="nutrition_after after_click">
                <ul>
                    <li>
                        <div class="nutrition_after_list genre_active">
                            <p>ダイエット＆食事</p>
                            <p class="minus_icon"></p>
                        </div>
                    </li>
                    <li>ダイエット＆体重管理</li>
                    <li>スーパーフード</li>
                    <li>水分補給</li>
                    <li>腸活</li>
                </ul>
            </div>
            <!-- ジャンルは増やせばここに追加 -->
        </div>
    </main>
    <footer></footer>
</body>
<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
<script src="../../style/script.js"></script>
</html>