p{
    font-size: 13px;
}
h1{
    font-size: 18px;
}
h2{
    font-size: 15px;
}
/* body{
    height: 1200px;
} */
.header_top,
.header_top_right{
    display: flex;
}
.header_top{
    width: 80%;
    margin: 60px auto 30px;
}
.header_top_right{
    gap: 25px;
    width: 100%;
    justify-content: flex-end;
}
.header_bottom{
    margin: 0 auto;
}
.header_bottom_list a{
    text-decoration: none;
}
.header_bottom_list{
    display: flex;
    margin: 0 auto;
    text-align: center;
    justify-content: center;
}
.header_bottom_list li{
    padding: 0 12px;
    border-radius: 10px 10px 0 0;
    background-color: #5AC2DC;
    opacity: 0.3;
    height: 35px;
}
.item01{
    background-color: blue;
}
.border_line{
    border-bottom: 5px solid #5AC2DC;
    opacity: 0.3;
    width: 100%;
}

.header_bottom_list li.active{
    transform: scale(1.1);
    background-color: #5AC2DC;
    opacity: 0.5;
}
.border_line.active{
    opacity: 0.5;
    border-bottom-color: #5AC2DC;
}
.border_bottom_list li p{
    color: #5E5E85;
}
.border_bottom_list li.active p{
    color: #fff;
}
main{
    margin-bottom: 80px;
}
.main_line{
    width: 90%;
    height: 1px;
    margin: 10px auto;
    background-color: #5E5E85;
}
.main_box{
    width: 90%;
    margin: 0 auto;
}
.main_box ul{
    display: flex;
}
.main_box ul h2{
    width: 90%;
    height: 100px;
}
.main_box ul img{
    object-fit: cover;
}
.footer_list{
    display: flex;
    justify-content: space-around;
    bottom: 0;
    width: 90%;
    left: 5%;
    position: fixed;
}
.footer_list img{
    width: 100%;
    position: relative;
    top: 10px;
}
footer{
    height: 60px;
    background-color: #F2F2F2;
    position: fixed;
    bottom: 0;
    width: 100%;
    border-top: 2px solid #5E5E85;
}
.footer_line{
    width: 2px;
    height: 60px;
    background-color: #5E5E85;
}
/* -------------TOP---------------- */
/* ------------------------------ */
/* -------------REGISTRATION-------- */

.registration_logo{
    margin: 60px auto 40px;
    width: 40%;
}
.registration_main{
    width: 90%;
    max-width: 270px;
    margin: 0 auto;
    box-sizing: border-box;
}
.registration_form ul li{
    padding: 10px 0;
}
.registration_form input{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    border: 2px solid #5AC2DC;
    opacity: 0.5;
}
.registration_form_birthday{
    max-width: 270px;
}
.registration_form_birthday p{
    display: flex;
    align-items: center;
    width: 27%;
    box-sizing: border-box;
    margin-right: 10px;
}
.registration_form_gender_radio,
.registration_form_birthday{
    display: flex;
    gap: 10px;
}
.registration_form_gender input{
    width: 15px;
}
.registration_form_gender p{
    font-size: 16px;
}
.registration_form input[type="date"],
.registration_form input[type="text"]{
    height: 34px;
    width: 100%;
    box-sizing: border-box;
}
.come{
    color: red;
}
.registration_form_button{
    width: 30%;
    height: 34px;
    background-color: #5AC2DC;
    opacity: 0.7;
    border-radius: 10px;
    text-align: center;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
    margin: 30px 0;
    color: #fff
}
/* -------------REGISTRATION-------- */
/* ------------------------------ */
/* -------------GENRE-------------- */

.genre_title{
    width: 50%;
    margin: 30px auto;
    text-align: center;
}
.plus_icon {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    width: 1em;
    height: 0.1em;
    background: currentColor;
    border-radius: 0.1em;
    position: relative;
  }

.plus_icon::before {
content: '';
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: inherit;
border-radius: inherit;
transform: rotate(90deg);
}
.before_click{
    width: 90%;
    max-width: 270px;
    margin: 0 auto;
    display: flex;
}
.before_click ul{
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 270px;
    box-shadow: 0 4px 5px 0 #000;
    border-radius: 10px;
}
.before_click ul li{
    height: 28px;
}
.active{
    width: 90%;
    max-width: 270px;
    display: flex;
    justify-content: space-around;
    width: 100%;
    color: #000;
    align-items: center;
    margin: 0 auto;
}
.after_click ul li{
    width: 90%;
    text-align: start;
    margin: 0 auto;
    max-width: 270px;
    padding: 10px 0;
}
.after_click ul{
    box-shadow: 0 4px 5px 0 #000;
    border-radius: 10px;
    max-width: 270px;
    margin: 0 auto;
}
.after_click{
    display: none;
}
.minus_icon {
    display: inline-block;
    vertical-align: middle;
    color: #333;
    line-height: 1;
    width: 20px;
    height: 4px;
    background: currentColor;
    border-radius: 0.1em;
}
/* -------------GENRE-------------- */
/* ------------------------------ */
/* -------------LOGIN-------------- */

.login_main{
    text-align: center;
    margin: 0 auto;
    margin-top: 100px;
    max-width: 270px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.login_main h1,
.login_button{
    margin: 50px 0;
}
.login_form_ul input[type="text"]{
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #5AC2DC;
    opacity: 0.5;
    max-width: 270px;
}
.login_form_ul li{
    padding: 10px 0;
    text-align: start;
}
.login_button{
    width: 40%;
    height: 34px;
    background-color: #5AC2DC;
    opacity: 0.7;
    border-radius: 10px;
}