<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/24reset.css">
    <link rel="stylesheet" href="../../style/style.css">
    <script src="../../style/script.js"></script>
    <title>TOP</title>
</head>
<body>
    <header>
        <img class="header_img" src="../../img/logo.png" alt="ロゴ">
        <img class="mypage_img" src="../../img/mypage.png" alt="マイページ">
    </header>
    <main>
        <div class="top">
            <div class="top_news">
                <h2>新着</h2>
                <div class="top_news_list">
                    <ul>
                        <li>
                            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            <img src="../../img/sample.jpeg" alt="ニュース画像">
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            <img src="../../img/sample.jpeg" alt="ニュース画像">
                        </li>
                    </ul>
                    <ul>
                        <li>
                        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            <img src="../../img/sample.jpeg" alt="ニュース画像" class="top_news_img">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="top_todo">
                <h2>ToDo</h2>
                <div class="top_todo_list">
                    <ul>
                        <li>
                            <p>タスクテキストタスクテキスト</p>
                            <p class="circle"></p>
                        </li>
                        <li>
                            <p>タスクテキストタスクテキスト</p>
                            <p class="circle"></p>
                        </li>
                        <li>
                            <p>タスクテキストタスクテキスト</p>
                            <p class="circle"></p>
                        </li>
                        <li>
                            <p>タスクテキストタスクテキスト</p>
                            <p class="circle"></p>
                        </li>
                        <li>
                            <p>全てのタスクを表示</p>
                            <p class="plus"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="all_news">
            <ul class="tab">
                <li><a href="#">ジャンル01</a></li>
                <li><a href="#">ジャンル02</a></li>
                <li><a href="#">ジャンル03</a></li>
                <li><a href="#">ジャンル04</a></li>
                <li><a href="#">ジャンル05</a></li>
            </ul>
            <p class="tab_bar"></p>
        </div>
        <div class="all_news_list">
            <ul>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
            </ul>
        </div>
    </main>
</body>
</html>


