<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../style/24reset.css">
    <link rel="stylesheet" href="../../style/style.css">
    <script src="../../style/script.js"></script>
    <title>TOP</title>
</head>
<body>
    <header>
        <div class="header_top">
            <img src="../../img/logo.png" alt="ロゴ">
            <ul class="header_top_right">
                <li><img src="../../img/カレンダー/date.png" alt="カレンダー"></li>
                <li><img src="../../img/カレンダー/Sunny.png" alt="天気"></li>
            </ul>
        </div>
        <nav class="header_bottom">
            <ul class="header_bottom_list">
                <li><p><a href="#">マナー</a></p></li>
                <li><p><a href="#">健康</a></p></li>
                <li><p><a href="#">筋トレ</a></p></li>
                <li><p><a href="#">モテ活</a></p></li>
                <li><p><a href="#">ダイエット</a></p></li>
            </ul>
            <p class="border_line" id="border_line"></p>
        </nav>
    </header>
    <main>
        <p class="main_line"></p>
        <div class="main_box">
            <ul>
                <li><h2>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</h2></li>
                <li><img src="../../img/sample.jpeg" alt="ニュース画像"></li>
            </ul>
        </div>
        <p class="main_line"></p>
        <div class="main_box">
            <ul>
                <li><h2>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</h2></li>
                <li><img src="../../img/sample.jpeg" alt="ニュース画像"></li>
            </ul>
        </div>
        <p class="main_line"></p>
        <div class="main_box">
            <ul>
                <li><h2>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</h2></li>
                <li><img src="../../img/sample.jpeg" alt="ニュース画像"></li>
            </ul>
        </div>
        <p class="main_line"></p>
        <div class="main_box">
            <ul>
                <li><h2>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</h2></li>
                <li><img src="../../img/sample.jpeg" alt="ニュース画像"></li>
            </ul>
        </div>
        <p class="main_line"></p>
        <div class="main_box">
            <ul>
                <li><h2>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</h2></li>
                <li><img src="../../img/sample.jpeg" alt="ニュース画像"></li>
            </ul>
        </div>
        <p class="main_line"></p>
        <div class="main_box">
            <ul>
                <li><h2>サンプルテキストサンプルテキストサンプルテキストサンプルテキストサンプルテキスト</h2></li>
                <li><img src="../../img/sample.jpeg" alt="ニュース画像"></li>
            </ul>
        </div>
    </main>
    <footer>
        <ul class="footer_list">
            <li><img src="../../img/home.png" alt="ホーム"></li>
            <li><p class="footer_line"></p></li>
            <li><img src="../../img/ToDo.png" alt="ToDo"></li>
            <li><p class="footer_line"></p></li>
            <li><img src="../../img/setting.png" alt="設定"></li>
        </ul>
    </footer>
</body>
</html>