{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/24reset.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script type="text/javascript" href="{% static 'js/script.js' %}"></script>
    <title>TOP</title>
</head>
<body>
    <header>
        <img class="header_img" src="{% static 'images/logo.png' %}" alt="ロゴ">
        <img class="mypage_img" src="{% static 'images/mypage.png' %}" alt="マイページ">
    </header>
    <main>
        <div class="top">
            <div class="top_news">
                <h2>新着</h2>
                <div class="top_news_list">
                    <ul>
                        <li>
                            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            <img src="{% static 'images/sample.jpeg' %}" alt="ニュース画像">
                        </li>
                    </ul>
                    <ul>
                        <li>
                            <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            <img src="{% static 'images/sample.jpeg' %}" alt="ニュース画像">                        </li>
                    </ul>
                    <ul>
                        <li>
                        <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                            <img src="{% static 'images/sample.jpeg' %}" alt="ニュース画像" class="top_news_img">
                        </li>
                    </ul>
                </div>
            </div>
            <div class="top_todo">
                <h2>ToDo</h2>
                <div class="top_todo_list">
                    <ul>
                        <li>
                            <p>タスクテキストタスクテキスト</p>
                            <p class="circle"></p>
                        </li>
                        <li>
                            <p>タスクテキストタスクテキスト</p>
                            <p class="circle"></p>
                        </li>
                        <li>
                            <p>タスクテキストタスクテキスト</p>
                            <p class="circle"></p>
                        </li>
                        <li>
                            <p>タスクテキストタスクテキスト</p>
                            <p class="circle"></p>
                        </li>
                        <li>
                            <p>全てのタスクを表示</p>
                            <p class="plus"></p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="all_news">
            <ul class="tab">
                <li class="tab_item active"><a href="#">ジャンル01</a></li>
                <li class="tab_item"><a href="#">ジャンル02</a></li>
                <li class="tab_item"><a href="#">ジャンル03</a></li>
                <li class="tab_item"><a href="#">ジャンル04</a></li>
                <li class="tab_item"><a href="#">ジャンル05</a></li>
            </ul>
            <p class="tab_bar"></p>
        </div>
        <div class="all_news_list">
            <ul>
                <li>
                    <img src="{% static 'images/sample.jpeg' %}" alt="ニュース画像"> 
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="{% static 'images/sample.jpeg' %}" alt="ニュース画像"> 
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
                <li>
                    <img src="../../img/sample.jpeg" alt="ニュース画像">
                    <p>テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト</p>
                </li>
            </ul>
        </div>
    </main>

    <script>
        $(document).ready(function () {
            $('.tab_item').click(function(){
    $('.tab_item').removeClass('active'); // すべてのタブから 'active' を削除
    $(this).addClass('active'); // クリックしたタブに 'active' を追加
});

            $('.fitness_list').click(function(){
                $('.fitness_after').show();
                $('.fitness_list').hide();
            });
            $('.genre_active').click(function(){
                $('.fitness_after').hide();
                $('.fitness_list').show();
            });
            $('.nutrition_list').click(function(){
                $('.nutrition_after').show();
                $('.nutrition_list').hide();
            });
            $('.genre_active').click(function(){
                $('.nutrition_after').hide();
                $('.nutrition_list').show();
            });
        });
    </script>
</body>
</html>


